
!final_project/final_project.srcs/*

!final_project/final_project.srcs/sources_1/*
!final_project/final_project.srcs/sources_1/new/*
!final_project/final_project.srcs/sources_1/imports/*

!final_project/final_project.srcs/sim_1/*
!final_project/final_project.srcs/sim_1/new/*

!final_project/final_project.srcs/constrs_1/*
!final_project/final_project.srcs/constrs_1/imports/*
!final_project/final_project.srcs/constrs_1/imports/digilent-xdc-master/*

!*.v

final_project/*
*.log
*.jou
*.xpr
*.hw
*.runs
*.cache
*.data
*.ip_user_files
